$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
$scale-1: .25rem; // 4px
$scale-2: .5rem;  // 8px
$scale-3: 1rem;   // 16px
$scale-4: 1.5rem; // 24px
$max-content-width: 70ch;
